{% extends "master.html" %}

{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h5 class="header center orange-text">Post a job for our skilled Alumni 😎</h5>
      <p class="center">Fill at least one of the fields ✏️ </p>
      <br><br>
      <div class="row center">
        <!-- <a href="/post-job" class="btn-large waves-effect waves-light orange">Get Started</a> -->
        <form method="post" style="width:100%">
          <div class="row">
            <div class="input-field col s4">
              <input placeholder="Udacity" required="true" id="company" name="company" type="text">
              <label for="company">Company</label>
            </div>
            <div class="input-field col s4">
              <input placeholder="Full Stack Developer" required="true" id="position" name="position" type="text">
              <label for="position">Position</label>
            </div>
            <div class="input-field col s4">
              <input placeholder="URL" required="true" id="job_url" name="job_url" type="text">
              <label for="job_url">Job URL</label>
            </div>
          </div>
          <div class="row center">
            <div class="input-field col s4">
              <input placeholder="VISA | Internship | FullTime" required="true" id="attrs" name="attrs" type="text">
              <label for="attrs">Other Info</label>
            </div>
          </div>

          <button class="btn waves-effect waves-light light-blue" type="submit">
            Submit
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
      <br><br>
    </div>
  </div>
  <div class="section">

  </div>
{% endblock %}
